DATABASE_URL=mongodb://localhost:27017/fast-food-ecommerce
JWT_SECRET=your_jwt_secret
CLOUDINARY_URL=your_cloudinary_url
PAYMENT_API_KEY=your_payment_api_key
EMAIL_SERVICE=your_email_service
EMAIL_USERNAME=your_email_username
EMAIL_PASSWORD=your_email_password
NODE_ENV=development
PORT=5000